/* Sidebar.css */

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #011f21;
    color: white;
    border-right: 2px solid #ddd;
    transition: width 0.3s;
}

.sidebar h3 {
    margin-top: 0;
    cursor: pointer;
}

.conversation-list {
    list-style-type: none;
    padding: 0;
    max-height: 500px; /* Set a max height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.conversation-list.hidden {
    display: none; /* Hide the list when collapsed */
}

.sidebar.collapsed {
    width: 50px; /* Change width when collapsed */
}

.sidebar.collapsed h3 {
    text-align: center; /* Center text when collapsed */
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #666; /* Darker grey on hover */
}

.new-convo-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.new-convo-btn.collapsed {
    text-align: center; /* Center the button text when collapsed */
    padding: 0; /* Adjust padding */
    height: 50px; /* Ensure the button has a consistent height */
}

.new-convo-btn:hover {
    background-color: #f0f0f0; /* Light grey on hover */
}
